
.drop-menu {
  z-index: 201;
  position: relative;
  width: 30px;
  height: 22px;
}

.drop-menu__btn-header {
  z-index: 202;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-grey);
  background-color: var(--color-white);
  transition-property: border-color;
  transition-duration: var(--duration-btn-animation);
}

.drop-menu__btn-header:focus,
.drop-menu__btn-header:hover {
  border-color: var(--color-firm);
}

.drop-menu__title {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 4px 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.drop-menu__line {
  width: 20px;
  height: 1px;
  background-color: var(--color-grey);
  transition-property: background-color, transform;
  transition-duration: var(--duration-btn-animation);
  transform-origin: right;
}

.drop-menu__btn-header:focus .drop-menu__line,
.drop-menu__btn-header:hover .drop-menu__line {
  background-color: var(--color-firm);
}

.drop-menu__line_1 {}

.drop-menu__btn-header:focus .drop-menu__line_2,
.drop-menu__btn-header:hover .drop-menu__line_2 {
  transform: scaleX(0.8);
}

.drop-menu__btn-header:focus .drop-menu__line_3,
.drop-menu__btn-header:hover .drop-menu__line_3 {
  transform: scaleX(0.6);
}

.drop-menu__menu {
  z-index: 200;
  position: absolute;
  top: -25px;
  left: -30px;
  width: auto;
  margin-top: -1px;
  padding-top: 80px;
  padding-bottom: 30px;
  border: 1px solid var(--color-grey);
  background-color: var(--color-grey-bacground);
}

.drop-menu__list {
  padding-left: 25px;
  padding-right: 25px;
}

.drop-menu__menu.is-open {
  animation-name: emergence-slideX;
  animation-duration: var(--animation-duration);
}

.drop-menu__menu.is-close {
  animation-name: rotate-vanish;
  animation-duration: var(--animation-duration);
}

.drop-menu__item {}

.drop-menu__item:not(:last-child) {
  margin-bottom: 20px;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: start;
}

.switch__button {
  position: relative;
  flex-shrink: 0;
  width: 32px;
  height: 16px;
  margin-right: 20px;
  border: 1px solid var(--color-firm);
  border-radius: 20px;
  transition-property: background-color;
  transition-duration: var(--duration-btn-animation);
}

.switch__button::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-firm);
  transition-property: background-color, transform;
  transition-duration: var(--duration-btn-animation);
}

.is-selected.switch__button {
  background-color: var(--color-firm);
}

.is-selected.switch__button::before {
  background-color: var(--color-white);
  transform: translateX(16px);
}

.switch__button::after {
  content: '';
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  position: absolute;
  display: block;
  border-radius: 20px;
  transition-property: border;
  border: 3px solid transparent;
  transition-duration: var(--duration-btn-animation);
}

.switch__button:focus::after {
  border-color: var(--color-firm-81);
}

.switch__button:hover::after {
  border-color: var(--color-firm-84);
}

.is-disable.switch__button {
  pointer-events: none;
  border-color: var(--color-grey02-border);
  background-color: var(--color-grey-bacground);
}

.is-disable.switch__button::before {
  background-color: var(--color-white);
}

.is-disable.is-selected.switch__button {
  background-color: var(--color-white);
}

.is-disable.is-selected.switch__button::before {
  background-color: var(--color-grey02-border);
}

.switch__lable {
  font-size: 12px;
  font-weight: 600px;
  display: inline-block;
  width: max-content;
  transition-property: opacity;
  transition-duration: var(--duration-btn-animation);
}

.is-disable.switch .switch__lable {
  opacity: 0.5;
}
